html,
body {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.maincontent {
  height: 100%;
  transition: transform 1s; }

.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px; }

.logo {
  width: 3.3125rem;
  height: 3.125rem; }

h1 {
  font-size: 3rem;
  text-transform: uppercase; }

h2 {
  font-size: 1.375rem; }

p {
  color: #666666; }

a {
  font-family: 'Alegreya Sans', sans-serif; }

section {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.order {
  background-image: url(img/form-screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  color: #365a49; }

.form {
  display: flex;
  padding: 3.375rem 5rem; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 2.1875rem 5rem; } }

.order__title {
  text-align: center; }

.form__title {
  margin-bottom: 0.3125rem;
  font-size: 1.125rem; }

.form__row {
  display: flex;
  margin-bottom: 0.9375rem; }

.form__row .form__input {
  width: 100%;
  padding: 0.9375rem 0.6875rem;
  outline: none;
  border: none;
  border: 0.1875rem solid transparent;
  background-color: #ffffff; }

.form__input:focus {
  border-color: #dee2bd; }

.form__label {
  flex: 1;
  margin-left: 1.4375rem; }

.form__label:first-child {
  margin-left: 0rem; }

.form__col {
  margin-left: 1.25rem;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .form__col {
      width: 100%;
      margin-left: 0; } }

.form__col:first-child {
  margin-left: 0rem; }

textarea {
  height: 5rem;
  resize: none;
  width: 100%; }

.form__textarea {
  width: 100%; }

.form__question--radio,
.form__question--checkbox {
  margin-right: 0.5625rem; }

.form__question {
  margin-bottom: 2.5rem; }

.form__question__row {
  display: flex;
  margin-bottom: 0.5rem; }

.form__box {
  margin-right: 1.4375rem;
  cursor: pointer;
  position: relative; }
  @media screen and (max-width: 480px) {
    .form__box {
      margin-right: 0.625rem; } }

.form__question--radio {
  position: absolute;
  top: 0;
  left: -624.9375rem;
  margin-right: 0.625rem; }

.form__question--radio:checked + .question__visible--radio:after {
  width: 0.625rem;
  height: 0.625rem; }

.question__visible--radio,
.form__title {
  display: inline-block;
  vertical-align: middle; }

.question__visible--radio {
  width: 1.625rem;
  height: 1.625rem;
  border: 0.0625rem solid #cbcbcb;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: #fdfdfd;
  margin-right: 0.5625rem;
  background: linear-gradient(to bottom, #fdfdfd 0%, #ededed 100%); }

.question__visible--radio:after {
  content: "";
  display: block;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #365a49;
  transition: .3s; }

.form__question--checkbox {
  position: absolute;
  top: 0;
  left: -624.9375rem;
  margin-right: 0.625rem; }

.form__question--checkbox:checked + .question__visible--checkbox:after {
  width: 0.625rem;
  height: 0.625rem; }

.question__visible--checkbox,
.form__title {
  display: inline-block;
  vertical-align: middle; }

.question__visible--checkbox {
  width: 1.625rem;
  height: 1.625rem;
  border: 0.0625rem solid #cbcbcb;
  border-radius: 0%;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: #fdfdfd;
  margin-right: 0.5625rem;
  background: linear-gradient(to bottom, #fdfdfd 0%, #ededed 100%); }

.question__visible--checkbox:after {
  content: "";
  display: block;
  width: 0rem;
  height: 0rem;
  border-radius: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  background-image: url(img/bird.png); }

@media screen and (max-width: 768px) {
  .form__bottomline {
    justify-content: center; } }

.promo__btn,
.order__btn__submit {
  border-radius: 78px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2.25rem;
  margin-bottom: 5.625rem;
  height: 3.625rem;
  font-size: 1.1875rem;
  font-weight: 800; }

.promo__button {
  margin-bottom: 3.125rem; }

.promo__btn {
  background-color: white;
  color: #365a49; }

.order__btn__submit {
  background-color: #365a49;
  color: white;
  margin-right: 1.8125rem; }

.order__btn__clear {
  font-size: 1.125rem;
  text-decoration: none;
  color: black; }

.header {
  position: absolute;
  width: 100%;
  margin-top: 1.5rem;
  z-index: 1; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff; }

.header__wrap {
  margin-left: 2.75rem; }
  @media screen and (max-width: 768px) {
    .header__wrap {
      display: none; } }

.mobile {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .mobile {
      display: none; } }

.phone__picture {
  width: 0.75rem;
  height: 0.6875rem;
  margin-left: 2.875rem; }

.mobile__number {
  font-size: 1.5rem;
  padding-left: 0.375rem; }

.nav__list {
  display: flex;
  align-items: center; }

.nav__item {
  margin-right: 1.625rem;
  font-size: 1.125rem;
  line-height: 1.67; }

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 1.125rem; }

.promo {
  background-image: url(img/first-screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .promo {
      align-items: center; } }

.promo__title {
  line-height: 1.25;
  margin-bottom: 1.4375rem; }

.promo__subtitle {
  margin-bottom: 3.5rem; }

.promo__content {
  color: white;
  width: 23.5625rem; }
  @media screen and (max-width: 768px) {
    .promo__content {
      text-align: center;
      width: auto; } }

.feature__text {
  color: white;
  padding-left: 0.625rem; }

.promo__features__list {
  display: flex;
  width: 29.0625rem; }
  @media screen and (max-width: 768px) {
    .promo__features__list {
      display: none; } }

.feature__item {
  display: flex;
  align-items: center;
  padding-right: 2.875rem; }

.reviews {
  background-image: url(img/berry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center; }

.review__title {
  text-align: center;
  margin-bottom: 2.75rem; }

.review__box {
  background-image: url(img/6.png);
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 1.6875rem; }

.review__box__title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.8125rem; }

.review__picture {
  margin-left: 1.25rem;
  width: 15.8125rem;
  height: 16.1875rem;
  padding: 2.8125rem 2.125rem;
  box-sizing: content-box; }

.review__message {
  color: #666666;
  font-size: 1.125rem;
  margin-bottom: 2rem; }

.review__content {
  width: 27.0625rem;
  margin-top: 4.25rem; }

.review__people {
  display: flex;
  justify-content: center; }

.people__picture {
  width: 4.125rem;
  height: 4.125rem;
  margin-right: 0.75rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer; }

.picture {
  max-width: 100%;
  display: block; }

.fixed-menu {
  position: fixed;
  top: 13.5rem;
  right: 3.75rem;
  z-index: 2; }

.fixed-menu__dot {
  border-radius: 50%;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid transparent;
  position: relative;
  margin-bottom: 0.9375rem; }
  .fixed-menu__dot--active {
    border-color: grey; }
  .fixed-menu__dot:before {
    content: '';
    width: 0.375rem;
    height: 0.375rem;
    position: absolute;
    border-radius: 0.625rem;
    background-color: grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .fixed-menu__dot:hover {
    border-color: grey; }

.why {
  background-image: url(img/why.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center; }

.why__header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.why__title {
  margin-bottom: 1.5625rem;
  font-weight: bold; }
  @media screen and (max-width: 480px) {
    .why__title {
      margin-bottom: 1.25rem; } }

.why__subtitle {
  width: 31.375rem;
  text-align: center;
  margin-bottom: 3.5625rem; }
  @media screen and (max-width: 480px) {
    .why__subtitle {
      margin-bottom: 3.3125rem; } }

.why__features__list {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .why__features__list {
      flex-direction: column; } }

.why__item {
  width: 15.5625rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .why__item {
      display: flex;
      width: 100%;
      margin-bottom: 2.5rem;
      text-align: left;
      align-items: center; } }

.why__picture {
  justify-content: center;
  display: flex;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 480px) {
    .why__picture {
      margin-bottom: 0;
      margin-right: 0.875rem; } }

.picture__border {
  width: 7.8125rem; }

.picture__shadow {
  background-color: #f2f5f4;
  border-radius: 50%;
  height: 7.8125rem;
  align-items: center;
  justify-content: center;
  display: flex; }

.why__item__title {
  font-size: 1.6875rem;
  font-weight: bold;
  margin-bottom: 1.5625rem; }

.why__item__text {
  color: #666666;
  font-size: 1.125rem; }

.circles {
  margin-top: 3.4375rem; }
  @media screen and (max-width: 480px) {
    .circles {
      display: none; } }

@media screen and (max-width: 480px) {
  .why__item__content {
    width: 18.75rem; } }

.hamburger-menu-link {
  position: relative;
  height: 1.375rem;
  margin-left: 1.875rem;
  align-items: center;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }
.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }
.hamburger-menu-link__bars:before {
  top: 0px; }
.hamburger-menu-link__bars:after {
  bottom: 0; }

.icon {
  fill: black;
  width: 20px;
  height: 20px; }

.bar {
  justify-content: center;
  background-color: #f8faf9; }

.bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.bar__content {
  width: 21.5rem; }

.bar__content__title {
  font-size: 2.25rem;
  margin-bottom: 0.75rem; }

.bar__content__text {
  margin-bottom: 2.1875rem; }

.bar__composition {
  margin-bottom: 2.3125rem; }
  @media screen and (max-width: 768px) {
    .bar__composition {
      display: none; } }

.bar__price {
  margin-right: 2.1875rem; }

.bar__content__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem; }

.bar__price {
  font-size: 2.5rem; }

.bar__content__add {
  display: flex;
  margin-bottom: 1.875rem; }

.bar__content__info {
  margin-right: 3.4375rem; }

.bar__img {
  width: 23.75rem;
  height: 24rem;
  box-sizing: content-box; }

.picture {
  max-width: 100%;
  display: block; }

.slider {
  display: flex;
  width: 51.875rem;
  overflow: hidden; }

.slider__items {
  display: flex;
  position: relative; }

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 51.875rem;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .item {
      flex-direction: column;
      justify-content: center; } }

.overlay__item {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.overlay {
  position: absolute;
  background-color: white;
  opacity: 0.95;
  width: 16.875rem;
  display: flex;
  justify-content: center; }

.overlay__list {
  padding: 0.625rem 0.625rem; }

.overlay__item {
  margin-bottom: 1.375rem; }

.overlay__item:last-child {
  margin-bottom: 0; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0; }

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center; }
